.title {
  /* Layout style */
  position: relative;
  text-align: center;
  width: 100%; 
  height: 600px; 
  overflow: hidden;
}

.title-text {
  /* Center the text */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  /* Text Styling */
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 80px;
  font-weight: 900;
}

.title-img {
  /* Center and scale the image nicely */
  width: 100%;
  height: 90%;
  object-fit: cover; /* Crop the image to cover the entire container */

}

.home-add-search {
  /* Layout style */
  position: absolute;
  top: 90%; /* Adjust the percentage to move it vertically */
  left: 50%; /* Center it horizontally */
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensure the component is in front */
  width: 90%;
}

.home-list-timetables {
  /* Layout style */
  margin: auto;
  width: 85%;
  align-items: center;
}