/* Table style */
.list-table {
    /* Container style*/
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 98%;
    border-collapse: collapse;
    border-radius: 2px;

    border: 1px solid #D0D0D0
}

/* Table header style */
.list-up-body {
    /* Container style */
    background-color: #616161;
    color: #fff;

    /* Text style */
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.list-up-row th {
    padding: 10px;
    text-align: left;
}

/* Table body style */
.list-low-body {
    background-color: #f9f9f9;
}

.list-low-row td {
    padding: 10px;
    border-bottom: 1px solid #D0D0D0
}


.list-low-box {
    /* Text style */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

/* Input, select, and button style */
.list-low-input,
.add-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-bottom: 5px;
}

.list-low-button {
    background-color: #c6c6c6;
    padding: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    /* Text style */
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.list-low-button:hover {
    background-color: #a9a9a9;
}

/* Success message */
.list-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 10px;
    margin-bottom: 10px;
}

/* Error message */
.list-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    margin-bottom: 10px;
}