/* Table style */
.list-table {
    /* Container style*/
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 98%;
    border-collapse: collapse;
    border-radius: 2px;

    border: 1px solid #D0D0D0
}

/* Table header style */
.list-up-body {
    /* Container style */
    background-color: #616161;
    color: #fff;

    /* Text style */
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.list-up-row th {
    padding: 10px;
    text-align: left;
}

/* Table body style */
.list-low-body {
    background-color: #f9f9f9;
}

.list-low-row td {
    padding: 10px;
    border-bottom: 1px solid #D0D0D0
}


.list-low-box {
    /* Text style */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.list-low-box-buttons {
    /* Container style */
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
}

/* Input, select, and button style */
.list-low-input,
.list-low-select {
    width: 100%;
    padding: 6px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    box-sizing: border-box;

    /* Text style */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;

}

.list-low-button {
    background-color: #b8b8b8;
    padding: 6px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    /* Text style */
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.list-low-button:hover {
    background-color: #8f8f8f;
}