/* Table style */
.list-table {
    /* Container style*/
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 98%;
    border-collapse: collapse;
    border-radius: 2px;

    border: 1px solid #D0D0D0
}

/* Table header style */
.list-up-body {
    /* Container style */
    background-color: #616161;
    color: #fff;

    /* Text style */
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.list-up-row th {
    padding: 10px;
    text-align: left;
}

/* Table body style */
.list-low-body {
    background-color: #f9f9f9;
}

/* Table row style */
.list-low-row td {
    padding: 10px;
    border-bottom: 1px solid #D0D0D0
}

/* Table box style */
.list-low-box,
.list-low-box-buttons {
    /* Text style */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;

    /* Set the same height for both classes */
    height: 100%;
}

.list-low-box-buttons {
    /* Container style */
    text-align: center; /* Center horizontally */
}

.list-low-box-buttons button {
    display: inline-block;
    margin: 0 8px; 
    /* Add any additional styling for the buttons if needed */
}

/* Input, select, style */
.list-low-input,
.list-low-select {
    width: 100%;
    padding: 6px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    box-sizing: border-box;

    /* Text style */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;

}

/* Textarea style */
.list-low-textarea {
    /* Layout */
    width: 100%;

    /* Spacing and border */
    padding: 10px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    box-sizing: border-box;

    /* Initial height */
    height: 100px;
    resize: vertical;  
}


.list-low-textarea-long {
    /* Layout */
    width: 120%;

    /* Spacing and border */
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    box-sizing: border-box;

    /* Initial height */
    height: 60px;
    resize: vertical;  
}




/* Button style */
.list-low-button {
    background-color: #b8b8b8;
    padding: 6px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    /* Text style */
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.list-low-button:hover {
    background-color: #8f8f8f;
}