/* Style for the component box */
.component-box {
    /* Container style */
    padding-top: 15px; /* Increased padding for better spacing */
    margin: 10px; /* Combined margin-right and margin-left for simplicity */
    background-color: #FFFFFF;
    border-radius: 5px; /* Increased border-radius for a softer look */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow for a subtle effect */

    /* Layout */
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Style for the component switch buttons */
.component-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.switch-button, .switch-button-active {
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;

    /* Container style */
    background-color: #E6E6E6;
    border: none;
    transition: background-color 0.3s ease-in-out;

    /* Text style */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.switch-button:hover {
    background-color: #D0D0D0; /* Lighter background on hover */
}


.switch-button {
    background-color: #E6E6E6;
}

.switch-button-active {
    background-color: #707070;
    color: #fff; /* White text for better contrast */
}

#left {
    border-radius: 0 20px 20px 0px;
}

#right {
    border-radius: 20px 0 0 20px;
}



/* Style for the component content */
.component-content {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}